
body {
    background-color: #f0fff0; 
    font-family: Arial, sans-serif; 
    color: #333; 
}


h1, h2, h3 {
    border-bottom: 2px solid #e91e63; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #4caf50; 
    font-size: 2.5em;
}

h2 {
    color: #4caf50; 
    font-size: 2em;
}

h3 {
    color: #4caf50; 
    font-size: 1.5em;
}

/* Estilo para los párrafos */
p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo para los enlaces */
a {
    color: #e91e63; /* Rosado */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4caf50; /* Verde */
}

/* Estilo para la lista del índice */
.index ul {
    list-style-type: none;
    padding: 0;
}

.index ul li {
    margin: 10px 0;
}

.index ul li a {
    background-color: #4caf50; /* Verde */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.index ul li a:hover {
    background-color: #e91e63; /* Rosado */
}

/* Estilo para los cuadros */
.index, .resultados, .metodologia, .conclusiones {
    background-color: #fff;
    border: 2px solid #4caf50; /* Verde */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
